@import "tailwindcss";

/* 1. Ensina o Tailwind v4 a ativar o modo escuro pela classe do nosso botão */
@custom-variant dark (&:is(.dark *));

/* 2. Cores base do Modo Claro */
:root {
  --background: #f9fafb; 
  --foreground: #111827; 
}

/* 3. Cores base do Modo Escuro */
.dark {
  --background: #030712; 
  --foreground: #f3f4f6; 
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 4. Aplica as cores suavemente com transição */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}